@import "../../Utils/UI.module.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 70px;

  margin: 0 auto;

  padding-top: 10px;
}

.logotype,
.authButtons,
.navBar {
  display: flex;
  align-items: center;
}


.navBar {
  justify-content: space-between;
  font-weight: 500;
  width: clamp(300px, 35%, 600px);
}

.item {
  cursor: pointer;
}

.item:hover {
  color: lighten(black, 15%);
  transition: 0.3s;
}

.item:active {
  color: black;
  transition: 0.3s;
}

.authButtons {
  justify-content: space-between;
  font-weight: 500;
  width: clamp(10px, 28%, 200px);
}

img {
  width: 150px;
}

.btnSignIn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: $main-border-radius;
  border: none;
  padding: 5px 20px 5px 20px;
}

.btnSignUp {
  background-color: $main-color;
  border-radius: $main-border-radius;
  border: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  color: white;
}

.btnSignUp:hover {
  background-color: $main-color-hover;
  transition: 0.3s;
}

.btnSignIn:hover {
  background-color: lighten($main-bg-color, 75%);
  transition: 0.3s;
}

.btnSignUp:active {
  background-color: $main-color;
  transition: 0.3s;
}

.btnSignIn:active {
  background-color: transparent;
  transition: 0.3s;
}
